<div style="width: 400px; height: 500px;">
    <div style="height: 150px; background-color: #3197ff; color: #000;">
        <h1 style="text-align: center; padding-top: 50px;">
            Welcome to our page
        </h1>
    </div>
    <div style="height: 250px; background-color: #ffffff; color: #000;
                padding-top: 20px;">
        <h3 style="text-align: center">
            Our page!!
        </h3>
        <p style="text-align: center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem
            fugit impedit itaque laborum magnam maiores minus nemo ratione.
            Adipisci illo illum magni minima praesentium, repellendus
            voluptatibus voluptatum! Facilis, laboriosam, officiis.
        </p>
    </div>
    <div style="height: 100px; background-color: #004a71; color: #ffffff;
                text-align: center; padding: 20px">
        <a href="www.facebook.com" style="color: white;">Facebook</a>
        <p>
            &reg; copyright 2018 Helpbox.
            <br> All rigths reserved. Powered by Ichor lab
        </p>
    </div>
</div>